<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>survivingCodingBootCamp.com</title>
    <link href="/assets/icon.png" rel="icon">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
</head>
<body>
<h1>Surviving Coding Bootcamp</h1>
    <li class="hashtags">
        <h2 th:text="${hashtag.name}"></h2>
        <article th:text="${hashtag.description}"></article>
    </li>

</body>
</html>